.container {
  background-color: blueviolet;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100;
  width: 100;
  background-color: blueviolet;
  padding: 100px;
  margin: 0px 0px 0px 0px;
  border: 5px solid #333;
}

.box {
  background-color: blueviolet;
  cursor: pointer;
  border: 5px solid rgb(213, 213, 213);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 8);
  margin: 10px;
  height: 75px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(255, 240, 255);
}
.active {
  background-color: green;
}
.box:hover {
  color: red;
}
