@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gloria+Hallelujah&family=Inspiration&family=Open+Sans:wght@300&family=PT+Sans&family=Palette+Mosaic&family=Permanent+Marker&family=Rubik:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gloria+Hallelujah&family=Inspiration&family=Jua&family=Open+Sans:wght@300&family=PT+Sans&family=Palette+Mosaic&family=Permanent+Marker&family=Rubik:wght@300&display=swap");

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  background-color: black;
  width: 100%;
  height: 100%;
}

.sampler {
  /* position: fixed; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
  flex-direction: row;
}

.channels {
  font-family: "Audiowide", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  /* column-gap: 10px; */
  color: "#42f5c8";
}

.browser {
  font-family: "Audiowide", monospace;

  color: white;
  backdrop-filter: brightness(50%);
}

.drummer {
  position: fixed;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  justify-content: start;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
  padding-top: 8%;
}

.drums-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}

.drums-outer {
  /* background-color: #34495e; */
  display: flex;
  align-items: center;
  justify-content: centre;
  flex-direction: column;
  /* border: 5px solid #333; */
  padding: 100px 0px 0px -200px;
  width: 82%;
}

.bpm-value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 71%;
  padding-top: 0%;
}

.drums-type {
  font-family: "Audiowide", monospace;
  font-size: 25px;
  color: rgb(181, 181, 181);
  padding: 0px 20px 0px 0px;
  -webkit-text-stroke: 1px black;
}

.bpm {
  font-family: "Audiowide", monospace;
  font-size: 25px;
  padding: 0px 20px 0px 0px;
}

.drummer-transport {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.row {
  color: rgb(222, 151, 9);
  font-size: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.box {
  font-family: "Audiowide", monospace;
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 5px 5px 5px;
  height: 70px;
  width: 70px;
  font-size: 14px;
  color: white;
  background: #000;
  color: rgb(0, 255, 55);
  padding: 12px 12px 12px 12px;
}

.box.active {
  background-color: rgb(164, 67, 255);
}

.box:hover {
  color: rgb(255, 82, 218);
}

.box2 {
  font-family: "Audiowide", monospace;
  background-color: rgb(139, 139, 139);
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.75);
  margin: 25px 5px 5px 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  color: white;
  animation: blink 1s linear infinite;
  background: #000;
  color: #fff;
  padding: 8px 12px 8px 8px;
}

.box2:nth-child(4n-2) {
  background-color: rgb(117, 114, 114);
}
.box2.active {
  background-color: rgb(164, 67, 255);
}

.checkbox {
  width: 40px;
  height: 40px;
}

.checkbox:nth-of-type(4n-2) {
  background-color: rgb(117, 114, 114);
}

.checkbox:before {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 2px solid;
  border-radius: 2px;
  background-color: rgb(14, 13, 13);
  border-color: transparent;
  box-sizing: border-box;
  color: #3acfb6;
  content: close-quote;
  display: inline-block;
  height: 40px;
  outline: 2px solid #3acfb6;
  transition-duration: 0.5s;
  transition-property: background-color, border-color;
  width: 40px;
  cursor: pointer;
  border: 2px solid rgb(247, 246, 246);
  border-radius: 5px;
  box-shadow: 0px 5px 5px 5px rgba(12, 12, 12, 0.75);
}

.checkbox:before:nth-of-type(4n-2) {
  background-color: rgb(117, 114, 114);
}
.checkbox:checked:before {
  background-color: rgb(164, 67, 255);
}

.checkbox:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.checkbox:focus {
  outline: none !important;
}

.checkbox:checked.checkmark {
  text-align: center;
  color: #41b883;
  background-color: violet;
}

.checkbox:active {
  border: 2px solid #34495e;
}
.sample {
  color: white;
  cursor: pointer;
}
.sample.hover {
  color: rgb(0, 255, 55);
}

.sample.active {
  background-color: rgb(0, 111, 128);
}

.playIcon {
  color: red;
}

.playIcon.active {
  color: rgb(16, 255, 84);
}

.playIcon:hover {
  color: yellow;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  border-width: 1px;
  border-color: rgb(11, 197, 30);
  box-shadow: 0px 0px 50px rgb(0, 255, 166);
  padding: 50px 50px 50px 50px;
}
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.signup-box {
  /* background-color: rgb(247, 247, 247); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  border-width: 1px;
  border-color: rgb(11, 197, 30);
  box-shadow: 0px 0px 50px rgb(0, 255, 195);
  padding: 50px 50px 50px 50px;
}

.intro {
  font-family: "Gloria Hallelujah", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-style: solid;
}

.sampleList {
  font-family: "Jua", sans-serif;
  font-size: 15;
  float: right;
  height: 700px;
  width: 260px;
  overflow-y: scroll;
  margin-top: 20px;

  color: white;
}

.sampleList::-webkit-scrollbar {
  width: 4px;
}

.sampleList::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
.sampleList::-webkit-scrollbar-track {
  background: #030303;
}

.filters {
  display: flex;
}

.navigation {
  text-decoration: none;
  width: 1440;
  height: 100px;
  background-color: rgb(9, 8, 8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 80px 20px 80px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
  font-family: "Audiowide", monospace;
}

.navigation-item {
  color: orange;
  text-decoration: none;
  font-size: 18px;
}

.button-logout {
  width: 100px;
  height: 40px;
  background-color: #333;
  color: white;
  border-color: green;
  font-family: "Audiowide";
  font-size: 15px;
  color: orangered;
}

.label {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  color: violet;
}

.navButton {
  padding: 10px 10px 10px 10px;
}

.control-panel {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 800px;
}

.channel-name {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(30%);
  margin: 0px 0px 0px -10px;
  padding: 0px 0px 0px 20px;
  font-weight: bold;
  font-size: 25px;
}

.button-browser {
  width: 115px;
  height: 40px;
  background-color: rgb(43, 43, 43);
  color: white;
  border-color: green;
  font-size: 15px;
}

.button-browser:hover {
  background-color: rgb(143, 143, 143);
}

.mytracks {
  display: flex;
  width: 1920px;
  height: 800px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .sampler {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(37, 196, 162);
    flex-direction: row;
  }
  .channels {
    font-family: "Audiowide", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding-top: 0;
    margin-bottom: 200px;
    column-gap: 10px;
    color: "#42f5c8";
  }
  .box {
    height: 50px;
    width: 50px;
    font-size: 12px;
  }
  .drums-container {
    width: 75%;
  }
  .bpm-value {
    width: 76%;
  }
  .intro {
    font-family: "Gloria Hallelujah", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-style: solid;
  }
}

@media (max-width: 1024px) {
  .browser {
    display: none;
  }
  .analyser {
    display: none;
  }

  .drums-container {
    display: flow-root;
    align-items: center;
    justify-content: center-end;
    width: 76%;
  }

  .bpm-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 0%;
  }
  .channels {
    height: 100%;
    width: 100%;
  }
  .sampler {
    height: 800px;
  }
  .channel-name {
    font-size: 20px;
  }
  .navigation-item {
    font-size: 12px;
  }
  .label {
    font-size: 25px;
  }
  .channel-name {
    font-size: 20px;
  }
  .box {
    font-size: 10px;
  }
  .button-logout {
    width: 80px;
    height: 20px;
    background-color: #333;
    color: orangered;
    border-color: green;
    font-family: "Audiowide";
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .App {
    width: 100%;
  }

  .channels {
    column-gap: normal;
    margin: 0px 0px 0px 0px;
  }
  .sampler {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }
  .browser {
    display: flex;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .sampleList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    font-size: 10px;
    float: right;
    max-height: 30%;
    min-width: 390px;
    overflow-y: scroll;
    margin-top: 20px;
    color: white;
  }
  .analyser {
    display: none;
  }
  .navigation-item {
    font-size: 12px;
  }
  .label {
    font-size: 25px;
  }
  .channel-name {
    font-size: 10px;
  }
  .box {
    width: 20px;
    height: 20px;
  }

  .navigation {
    padding: 0px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .navigation-item {
    font-size: 8px;
  }
  .button-logout {
    width: 50px;
    height: 20px;
    background-color: #333;
    color: white;
    border-color: green;
    font-family: "Audiowide";
    font-size: 8px;
  }
  .button-browser {
    width: 60px;
    height: 20px;
    background-color: rgb(43, 43, 43);
    color: white;
    border-color: green;
    font-size: 10px;
  }
  .filters {
    display: flex;
    font-size: 15px;
  }
  .drums-type {
    font-family: "Audiowide", monospace;
    font-size: 25px;
    color: orangered;
    padding: 0px 20px 0px 0px;
    -webkit-text-stroke: 1px black;
  }

  .drums-outer {
    width: 100%;
  }

  .drums-container {
    justify-content: center;
    width: 90%;
  }

  .bpm-value {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    width: 100%;
    padding: 0px 0px 0px 15px;
  }
  .checkbox {
    width: 14px;
  }
  .checkbox:before {
    width: 14px;
  }
}
