/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inspiration&family=Open+Sans:wght@300&family=PT+Sans&family=Palette+Mosaic&family=Permanent+Marker&family=Rubik:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gloria+Hallelujah&family=Inspiration&family=Open+Sans:wght@300&family=PT+Sans&family=Palette+Mosaic&family=Permanent+Marker&family=Rubik:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gloria+Hallelujah&family=Inspiration&family=Jua&family=Open+Sans:wght@300&family=PT+Sans&family=Palette+Mosaic&family=Permanent+Marker&family=Rubik:wght@300&display=swap");

.App {
  background-color: black;
}

.sampler {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
  flex-direction: row;
  flex-wrap: wrap;
}

.channels {
  font-family: "Audiowide", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  /* border: 5px solid #333; */
  column-gap: 10px;
  color: "#42f5c8";
}

.drummer {
  align-items: flex-end;
  width: 100%;
  height: 690px;
  justify-content: start;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
  padding-top: 5%;
  /* flex-direction: column; */
}

.drums-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 73%;
}

.drums-type {
  font-family: "Audiowide", monospace;
  color: white;
  padding: 0px 20px 0px 0px;
}

.row {
  color: rgb(222, 151, 9);
  font-size: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.box {
  font-family: "Audiowide", monospace;
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 5px 5px 5px;
  height: 70px;
  width: 70px;
  font-size: 16px;
  color: white;
  background: #000;
  color: rgb(0, 255, 55);
  padding: 12px 12px 12px 12px;
}

.box.active {
  background-color: rgb(164, 67, 255);
}

.box:hover {
  color: rgb(255, 82, 218);
}

.box2 {
  font-family: "Audiowide", monospace;
  background-color: rgb(139, 139, 139);
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.75);
  margin: 25px 5px 5px 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  color: white;
  animation: blink 1s linear infinite;
  background: #000;
  color: #fff;
  padding: 8px 12px 8px 8px;
}

.box2:nth-child(4n-2) {
  background-color: rgb(117, 114, 114);
}
.box2.active {
  background-color: rgb(164, 67, 255);
}

/* .checkbox.body {
  margin: 0 auto;
  padding: 2em;
} */

.checkbox {
  width: 50px;
  height: 50px;
}
.checkbox:nth-of-type(4n-2) {
  background-color: rgb(117, 114, 114);
}
.checkbox:before {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 2px solid;
  border-radius: 2px;
  background-color: rgb(14, 13, 13);
  border-color: transparent;
  box-sizing: border-box;
  color: #3acfb6;
  content: close-quote;
  display: inline-block;
  height: 50px;
  outline: 2px solid #3acfb6;
  transition-duration: 0.5s;
  transition-property: background-color, border-color;
  width: 50px;
  cursor: pointer;
  border: 2px solid rgb(247, 246, 246);
  border-radius: 5px;
  box-shadow: 0px 5px 5px 5px rgba(12, 12, 12, 0.75);
}

.checkbox:checked:before {
  background-color: rgb(164, 67, 255);
}

/* .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  accent-color: rgb(164, 67, 255);
  margin: 0;
  font-family: "Audiowide", monospace;
  background-color: rgb(0, 0, 0) !important;
  cursor: pointer;
  border: 2px solid rgb(247, 246, 246);
  border-radius: 5px;
  box-shadow: 0px 10px 10px 10px rgba(114, 112, 112, 0.75);
  margin: 2px 2px 2px 2px;
  height: 30px;
  width: 30px;
  outline: none !important;
} */

.checkbox:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.checkbox:focus {
  outline: none !important;
}

.checkbox:checked.checkmark {
  text-align: center;
  color: #41b883;
  background-color: violet;
}

.checkbox:active {
  border: 2px solid #34495e;
}
.sample {
  color: white;
  cursor: pointer;
}
.sample.hover {
  color: rgb(0, 255, 55);
}

.sample.active {
  background-color: rgb(0, 111, 128);
}

.playIcon {
  color: red;
}

.playIcon.active {
  color: rgb(16, 255, 84);
}

.playIcon:hover {
  color: rgb(255, 247, 0);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
}

.login-box {
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  border-width: 1px;
  border-color: rgb(11, 197, 30);
  box-shadow: 0px 0px 50px rgb(0, 255, 166);
  padding: 50px 50px 50px 50px;
}
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
}
.signup-box {
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  border-width: 1px;
  border-color: rgb(11, 197, 30);
  box-shadow: 0px 0px 50px rgb(0, 255, 195);
  padding: 50px 50px 50px 50px;
}

.intro {
  font-family: "Gloria Hallelujah", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  border-radius: 15px;
  border-style: solid;
}

/* .label {
  font-family: "Audiowide", monospace;
} */

.browser {
  font-family: "Audiowide", monospace;
  height: 700px;
  width: 320px;
  margin-top: 0px;
  color: white;
  backdrop-filter: brightness(20%);
}

.sampleList {
  font-family: "Jua", sans-serif;
  font-size: 15;
  float: right;
  height: 700px;
  width: 260px;
  overflow-y: scroll;
  margin-top: 20px;
  padding-left: 40px;
  margin-left: 50px;
  color: white;
}

.sampleList::-webkit-scrollbar {
  width: 4px;
}

.sampleList::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
.sampleList::-webkit-scrollbar-track {
  background: #030303;
}

.filters {
  display: flex;
}

.navigation {
  text-decoration: none;
  width: 1440;
  height: 80;
  background-color: rgb(9, 8, 8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 100px 20px 80px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
  font-family: "Audiowide", monospace;
}

.label {
  font-family: "Gloria Hallelujah", cursive;
}

.navButton {
  padding: 10px 10px 10px 10px;
}

.control-panel {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 800px;
}

.channel-name {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(30%);
  margin: 0px 0px 0px -10px;
  padding: 0px 0px 0px 20px;
}

.button-browser {
  background-color: #333;
  color: white;
  border-color: green;
}

.bpm-value {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}

.mytracks {
  display: flex;
  width: 1920px;
  height: 800px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 196, 162);
}
